@model RestaurantRatingProject.Models.RestaurantsRatingViewModel
@{
    ViewBag.Title = "Reviews";
}

<h2>Restaurant Reviews</h2>

<p>
    @Html.ActionLink("Add A Restaurant!", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name:
        </th>
        <th>
            Cuisine:
        </th>
        <th>
            Number Of Ratings
        </th>
        <th>
            Average Rating:
        </th>
    </tr>

    @foreach (var item in Model.Restaurants)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuisine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRatings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AveragingRating)
            </td>
            <td>
                @Html.ActionLink("Rate", "Details", "Restaurants", new { id = item.RestaurantID }, null)
                @Html.ActionLink("Edit", "Edit", "Restaurants", new { id = item.RestaurantID }, null)
                @Html.ActionLink("Delete", "Delete", "Restaurants", new { id = item.RestaurantID }, null)
                @*@using (Html.BeginForm("Reviews", "Home", FormMethod.Post))
        {
        @Html.HiddenFor(modelItem => item.RestaurantID)
        <p>Star Rating:</p> @Html.DropDownListFor(Model => Model.Rating, new SelectList(Model.Ratings), "Select Rating")
        <button type="submit" value="submit">Submit</button>
        }*@
            </td>
        </tr>
    }
</table>
