@model RestaurantRatingProject.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuisine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuisine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRatings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRatings)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AveragingRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AveragingRating)
        </dd>
    </dl>
</div>

        @using (Html.BeginForm("Reviews", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(modelItem => Model.RestaurantID)
            <p>Star Rating:</p> @Html.DropDownListFor(Model => Model.Rating, new SelectList(Model.StarRatings), "Select Rating")
            <button type="submit" value="submit">Submit</button>
        }
